.body{
    width: 1750px;
    border: 15px solid black;
    padding: 50px;
    margin:20px;
    text-align:center;
    font-size: 99px;
    color:rgb(22, 20, 22);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: lightblue;

}
.Cric {
    position: fixed;
    top: 40; /* Adjust this value if needed */
    left: 1100px; /* Adjust this value to move it to the right */
    width: 440px;
    height: 50px;
    padding: 10px;
    border: 5px solid rgb(201, 43, 201);
    margin: 0;
    
}

.donkey{
    position: fixed; 
    top: 320px;
    left: 900px; 
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: underline;

}

.dhoni{
    position: fixed;
}

.virat{
    position:fixed;
    top: 420px;
    left: 910px;
    font-weight: 800;

}
.box{
    border:2px solid black;
    padding: 10px;
    display: inline-block;
}

.box span {
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: -2px;
    font-size: larger;

}

.h2{
    text-align: center;
    padding: 20px;
    background-color: darkblue;
    color: white;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    border-radius: 8px;
    box-shadow: 0  4px 8 px rgb(red, green, blue);
}

.cric{
    font-size: large;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.vande{
background-color: white;
width: 700px;
border:15px whitesmoke ;
padding: 50px;
margin: 30px;
}

.out{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1300px;

}