/* Cricket portal */
.home-style{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #FF9933, #FFFFFF, #138808);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden ;
}

.body{
    background: linear-gradient(135deg,#b9ac8f 0%, #f7797d 100%);
    color: #333;
    text-align: center;
    text-decoration: solid;
    text-overflow: clip;
    letter-spacing: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(106, 68, 68);
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-size: 200%;
    animation: 15s;

}

/* Nav bar */
.Nav-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    top: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 10px 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    letter-spacing: 5px;
    z-index: 1;
}



.Nav-bar a:hover{
    background: #ff5722; 
    color: #ffffff; 
}

.Nav-bar{
    font-family:  Dancing Script;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero{
    color: #26197c;
    text-align: center;
    padding: 100px 20px;
    border-radius: 0 0 40px 40px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px (rgb(rgb(244, 171, 171), green, blue));
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.card{
    background: #ffffff;
    border-radius:20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    position: relative;
  overflow: hidden;
}

img.Image-container{
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba (0,0,0,0.3);
    margin-top: 20px;
}

footer{
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    bottom: 0; /* stays in bottom */;

}

footer p {
    margin: 0;
    font-size: 1em;
}
/* Error 404 */
h1{
    font-size: 100px;
    margin: 0;
    color: #e74c3c;
}

.Home-Title{
    font-size: xx-large;
    font-weight: bolder;
}

.error-body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae2e2;
    text-align: center;
    padding: 60px;
}

.error{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10;
}


h2{
    margin: 20px;
    font-size: 24px;

}

p{    font-size: 20px;
    margin: 10px 0;
}

a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #db5151;
    background-color: #3498db;
    border-radius: 8px;
}
a:hover{
    background-color:lightblue;
}


.box{
    border:2px solid black;
    padding: 10px;
    display: inline-block;
}

.box span {
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: -2px;
    font-size: larger;

}

.h2{
    text-align: center;
   padding: 20px;
   background-color: #333;
   color:whitesmoke;
   width: 500px;
   font-size: 28px;
   margin-top: 20px;
   margin-bottom: 20px;
   letter-spacing: 3px;
   border-radius: 8px;
 box-shadow: 0  4px 8 px rgb(red, green, blue);
}
.Instructions-INFO{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.cric{
  font-size: 20px;
  font-family: Cinzel;

    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(241, 237, 237, 0.9);
    border: 2px solid #333;

}
tbody {
    display: block;
   
}

tr {
    display: block;
    margin-bottom: 20px; 
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    padding: 20px; 
}

.team-box {
    position: relative; 
 right: 100px;
    background-color: rgb(165, 133, 241);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1800px; /* Set the box width to 90px as per your requirement */
    margin: 15px auto; /* Centers the box horizontally */
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

.team-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-bottom: 10px; 
}
@media (max-width: 768px) {
    .team-box {
        padding: 15px;
        max-width: 90%;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .team-box {
        padding: 10px;
        max-width: 95%;
        margin: 5px auto;
    }
}



.team-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.team-info {
    margin-bottom: 10px;
    text-align: left;
}

/* This css is used for the headimg of the template execpt Cricket portal */
.stats1 {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    background-color: rgba(218, 208, 208, 0.9); 
    color: black;
    font-family: Pinyon Script;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.playersbody{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    padding: 20px;
}
.playerh1{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}
.playerp{
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 200;
    font-size:  xx-large;
}
.h2{
    font-size: 1.5em;
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.player-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
padding: 0;
    gap: 15px;
}

.player{
   flex: 1 1 100%;
   margin: 0;
    flex-direction: column-reverse;
    border: 1px black;
    width: 30%;
    padding: 10px;
    border: 2px solid;
    padding: 15px;
    display: inline-block;
    border-radius: 8px;
    background-color:pink;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: auto;
    text-align: center;
}

.player-info{
    text-align: center;
    border: #333;
    border-radius: 1px solid black;
    margin-bottom: 5px;
    background-color: whitesmoke;
    
}

.players-container > .player {
    width: 100%;
    max-width: 250px;
}

.player-info:nth-child(2) {
    font-weight: bold;
    color: #27ae60;
}

@media (max-width: 768px) {
    .players-container {
        flex-direction: column;
        align-items: center;
    }
    .player {
        width: 100%;
        max-width: 100%;
    }
}
/*Player add player form css */
.player-form{
    background-color: rgba(255, 255, 255, 0.9); /*white */
    padding: 20px;
    border-radius: 8px; /*  corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*shadow */
    margin: 20px; /* Space around the form */
    width: 400px;
    max-width: 100%;
    text-align: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20px;
    widows: 100%;
}

.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.form-button {
    position: relative;
    bottom: 10px;
    background-color: #865454; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: larger; 
    transition: background-color 0.3s; 
}
/* Players input desgin */
.login{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;

}
.login-box{
    background: white;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba (0,0,0,0.2);
    max-width: 400px;
    width: 100%;

}

/* Players template instructions */
.Instruction-player {
    text-align: center;
    text-decoration: double;
    font-size: xx-large;
    color: rgb(9, 2, 2);
    background-color: rgba(5, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  
}



/* Players template */

.players-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.players-grid-title {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.player-cell {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.player-cell:hover {
    background-color: #e9e9e9;
}

.team-section {
    margin-bottom: 40px;
}


.footerp{
    color: white;
    font-family:Georgia ;
    font-size: larger;
    text-align: center;
}
.Title-column{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.Serach-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.Serach-bar form {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*  Serach bar css for players */
.Serach-bar input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px 0 0 20px;
    width: 400px; /* Increased width */
    font-size: 16px;
    outline: none;
}

.sumbit button[type="submit"] {
    position: static;

    padding: 10px 20px;
    border: none;
    background-color: #334456;
    color: white;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
}

.sumbit button[type="submit"]:hover {
    background-color: #4a6481;
}
/* Flash message */
.Flash {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;    width: 250px;
    padding: 10px;
    margin: 20px auto;
    background-color: #ff4d4d;
    color: rgb(255, 250, 250);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: larger;
}


.statsbody{
    background-image: url(https://media.gettyimages.com/id/1692871520/photo/topshot-indias-captain-rohit-sharma-and-his-teammate-virat-kohli-run-between-the-wickets.jpg?s=612x612&w=0&k=20&c=h6tAbPdP5pSjYYVaD43yNBP06JpokjF9BmEf7fe7BKo=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Record page */
.recordbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightblueviolet;
}

.recordh1 {
    text-align: center;
    color: #ffffff;
    margin: 20px;
    font-size: xx-large;
    background-color: #007bff;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recorddetails {
    border-radius: 8px;
    margin: 20px auto;
    width: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);
    transition: box-shadow 0.3s ease-in-out;
}

.recorddetails:hover {
    background-color: lightblue;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recordsummary {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    background-color: #5ea4ee;
    color: whitesmoke;
    border: none;
    outline: none;
}

.recordsummary:hover {
    background-color: #0056b3;
}

.lines {
    margin: 10px 0;
    color: #333;
}

h2, h3, h4 {
    margin-bottom: 10px;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #555;
}
.content p{
    padding: 10px;
    background-color: black;
    line-height: 1.7;
    border-radius: 8px;
}
p{
    margin-bottom: 1em;
}

a{
    color: #0e1012;
    text-decoration: underline;
}
 a.hover{
    text-decoration: underline;
 }

.recordsummary{
    font-size: 1.2em;
}
@media (max-width:480px){
.recordh1{
    font-size: 2em;
    margin: 10px;
}

.recordsummary{
font-size: 1.1em;
padding: 10px;
}
}

.recordh2{

 font-family: 'Courier New', Courier, monospace;
 font-size: 50px; 
 font-weight: bolder;
line-height:1.6em;
color: #1f1717;
background-color: #fdf2f2;
padding: auto;
border-radius: 8px;
box-shawdow: 0 4px 8px rgba ;  
text-align: center;


}
.lines{
    white-space: pre-line;
        font-weight: bolder;
        font-size: 1.2em;
    line-height:1.6em;
    color: #333;
    background-color: #f9f9f9;
    padding: auto;
     box-shawdow: 0 4px 8px rgba ;  
     border-radius: 8px;
     text-align: center; 
    }

details summary{
    list-style:none ;
}

.recordp{
    color: black;
    font-size: 40px;
   font-weight: 900;
   text-align: center;
}
/*Ranking Template */
.Ranking-body{
    
    background-image:url(https://media.gettyimages.com/id/1497163130/photo/london-england-a-fan-of-of-india-wearing-body-paint-in-the-colours-of-the-national-flag-of.jpg?s=612x612&w=0&k=20&c=n1FWqpWsFsVGEmwLilB4-BHPHQqG_-zE3vIVlIeMW7M=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.Ranking-grid{
    display: flex;
    flex-direction: column;
    gap:11px;
    padding: 10px;
    margin-top: 60px;
}
/* Brid,item css is used for Ranking and Player Template */
.Brid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    align-items: center;
    color: #ffffff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.item {
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    padding: 25px;
    border: 1px solid #865454;
    font-size: larger;
    box-shadow: 0 4px 8px rgb(165, 133, 241);
    color: #000; 
}

button {
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s, opacity 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    background: blue;
}



.Rank-h1{
    text-align: center;
    font-size: 150px;
}







