<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <link rel="stylesheet" href="/static\images/style.css">

    <title>400</title>
</head>
<body class="error-body">
    <div class="error">
        <h1>400</h1>
        <strong>  <h2> Internal server error </h2></strong>
        <strong>        <P>Please, Return to Login page and Login again</P>
        </strong>
       <strong>         <a href="/">Return to login page</a>
       </strong>    

</body>

</html>