<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket </title>
</head>
<body>
    <h1 class="body">Cricket Portal</h1>
    <h2 class="Cric">
        <a href="Players.html"> Players</a>
        <a href="Ranking.html">Rankings</a>
        <a href="Record.html">Record</a>
        <a href="Stats.html">Statistics</a>
        <a href="Team.html">Teams</a>
      </h2> 
      <h3>Norms of Crickets</h3>
    <img class="Dhoni"src="static\images/download.jpg"width="800" height="600">
 
</body>

</html>
