<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket </title>
</head>
<body>
    <h1 class="body">Cricket Portal</h1>
    <h2 class="Cric">
        <a href="Players.html"> Players</a>
        <a href="Ranking.html">Rankings</a>
        <a href="Record.html">Record</a>
        <a href="Stats.html">Statistics</a>
        <a href="Team.html">Teams</a>
      </h2> 
     <u> <h3 class="donkey">Norms of Crickets</h3></u>
      <P class="virat">
        Sportsmanship:  <BR>
        Cricket places a high value on sportsmanship. Players are expected to display respect towards opponents, umpires, and the game itself. Displays of aggression, sledging (verbal abuse), or disrespectful behavior are frowned upon.<BR>
        Umpire's Decision:<br>
        The decision of the umpire is final and is to be respected by all players. Disputing or showing dissent towards an umpire's decision is not considered acceptable behavior.<br>
         Fair Play
        : <br>Fair play is a fundamental principle of cricket. Players are expected to abide by the laws of the game and play fairly without resorting to cheating or unsportsmanlike conduct.<br>
         Spirit of the Game: The spirit of cricket encompasses the values of integrity, respect, and fair play. Players are expected to uphold the spirit of the game and not engage in behavior that brings the game into disrepute.<br>
         Walking: In cricket, there is a tradition known as "walking," where a batsman voluntarily leaves the field if they know they are out, even if the umpire has not given them out. While not mandatory, walking is considered a display of honesty and sportsmanship.<br>
         Teamwork: Cricket is a team sport, and players are expected to work together towards a common goal. Supporting teammates, both on and off the field, is an important aspect of cricket culture.<br>

        Respect for Equipment: Players are expected to take care of their equipment and use it responsibly. Deliberate damage to equipment is not tolerated.<br>

        Respect for Grounds: Players should respect the cricket ground and facilities. Littering, damaging the pitch, or other forms of misconduct that harm the playing surface are not acceptable.<br>
   </P>
    <img class="Dhoni"src="static\images/download.jpg"width="800" height="600">
 
</body>

</html>
