{% extends "layout.html" %}

{% block title %}Login Page{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">
<div class="background">  
    <div class="layout-body">  
        <div class="content">  
            <div class="login">  
                <div class="login-box">  
                    <span  class="login-p">Welcome to the Cricket Portal! Log in to explore an exciting and immersive experience!

                    </span>
                     <h1 class="login-h1">Login</h1>
                    <form method="POST" action="{{ url_for('login') }}">
                        <input class="login-input" type="text" name="username" placeholder="Username" required>
                        <input class="login-input" type="password" name="password" placeholder="Password" required>
                        <button class="login-button" type="submit">Login</button>
                        <span class="login-p">Don't have an account please register <a href="/register">register here</a></span>
                    </form>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="flash-messages">
                                <ul>
                                    {% for message in messages %}
                                        <div class="Flash">{{ message }}</div>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                 


                </div>  
            </div>  
        </div>  
    </div>  
</div>


{% endblock %}
