<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="back">
    <h1>Players list
</h1>

<h2 class="h2">
    Indian Cricket Players
</h2>
<div class="players-container">
    <div class="player">
        <div class="player-info"> Virat Kohli</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info">Rohit Sharama</div>
        <div class="player-info"> Batsman</div>
    </div>

    <div class="player">
        <div class="player-info"> Jasprit Bumarh</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Kl Rahul</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Hardik Pandya</div>
        <div class="player-info">All-rounder</div>
    </div>
    <div class="player">
        <div class="player-info"> Ravindra Jedaja</div>
        <div class="player-info"> All-rounder</div>
    </div>
    <div class="player">
        <div class="player-info"> Mohammed Shami</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Shikhar Dhawan</div>
        <div class="player-info"> Batsman</div>

    </div>
    <div class="player">
        <div class="player-info"> Rishabh Pant</div>
        <div class="player-info"> Bowlers</div>
    </div>
</div>
<h2 class="h2">
    Australia Cricket Team </h2>
    <div class="player">
        <div class="player-info"> Aaron Finch</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Aaron Finch</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Steve Smith</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info">Mitchell Starc</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Glenn Maxwell</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Marcus Stonis</div>
        <div class="player-info">All rounder</div>
    </div>
    <div class="player">
        <div class="player-info">Adam Zampa</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info">Pat cummins</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Alex Carey</div>
        <div class="player-info"> Wicket Keeper</div>
    </div>
    <div class="player">
        <div class="player-info"> Josh Hazelwood</div>
        <div class="player-info"> Bowler</div>
    </div>

    <h2 class="h2">
       England Cricket Players
    </h2>
    <div class="players-container">

    </div>
    <div class="player">
        <div class="player-info"> Eoin Morgan</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Joe Root</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Jofra Archer</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Jasan Roy</div>
        <div class="player-info"> Batsman</div>
    </div>

</h2>
</body>
</html>