<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="playersbody">
    <h1 class="playerh1">Players list
</h1>
<div>
    <form action="/action_page.php">
    <input type="text"placeholder = "Serach.." name="search">
    <button type="submit"><i class="fa fa Serach"></i></button>
</form>
    
</div>

<h2 class="h2">
    Indian Cricket Players
</h2>
<div class="players-container">
    <div class="player">
        <div class="player-info"> Virat Kohli</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info">Rohit Sharama</div>
        <div class="player-info"> Batsman</div>
    </div>

    <div class="player">
        <div class="player-info"> Jasprit Bumarh</div>
        <div class="player-info"> Bowler</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Kl Rahul</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Hardik Pandya</div>
        <div class="player-info">All-rounder</div>
    </div>
    <div class="player">
        <div class="player-info"> Ravindra Jedaja</div>
        <div class="player-info"> All-rounder</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Mohammed Shami</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Shikhar Dhawan</div>
        <div class="player-info"> Batsman</div>

    </div>
    <div class="player">
        <div class="player-info"> Rishabh Pant</div>
        <div class="player-info"> Bowlers</div>
    </div><br><br>
</div>
<h2 class="h2">
    Australia Cricket Team </h2>
    <div class="players-container"> 
    <div class="player">
        <div class="player-info"> Aaron Finch</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Aaron Finch</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Steve Smith</div>
        <div class="player-info"> Batsman</div>
    </div><br><br>
    <div class="player">
        <div class="player-info">Mitchell Starc</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Glenn Maxwell</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Marcus Stonis</div>
        <div class="player-info">All rounder</div>
    </div><br><br>
    <div class="player">
        <div class="player-info">Adam Zampa</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info">Pat cummins</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Alex Carey</div>
        <div class="player-info"> Wicket Keeper</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Josh Hazelwood</div>
        <div class="player-info"> Bowler</div>
    </div>




    <h2 class="h2">
       England Cricket Players
    </h2>
    <div class="players-container">

    </div>
    <div class="player">
        <div class="player-info"> Eoin Morgan</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Joe Root</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Jofra Archer</div>
        <div class="player-info"> Bowler</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Jasan Roy</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Jos Buttler </div>
        <div class="player-info"> 'Wicketkeeper',</div>
    </div>
    <div class="player">
        <div class="player-info"> Chris Woakes </div>
        <div class="player-info"> 'All-rounder',</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Moeen Ali </div>
        <div class="player-info"> 'All-rounder',</div>
    </div>
    <div class="player">
        <div class="player-info"> Sam Curran </div>
        <div class="player-info"> 'All-rounder',</div>
    </div>
    <div class="player">
        <div class="player-info"> Adil Rashid </div>
        <div class="player-info"> 'Bowler',</div>
    </div><br><br>

    <h2 class="h2">
        New Zealand Cricket Players
    </h2>
    <div class="player">
        <div class="player-info"> Kane Williamson </div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Ross Taylor </div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Trent Boult </div>
        <div class="player-info"> Bowler</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Martin Guptill </div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Tim Southee </div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Mitchell Santer </div>
        <div class="player-info"> Jimmy Neesham</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Devon Conway </div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Ish Sodhi </div>
        <div class="player-info"> Bowler</div>
    </div>
    <h2 class="h2">
    South Africa Cricket Players
    </h2>
    <div class="player">
        <div class="player-info"> Faf du Plessis </div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Kasigo Rabada </div>
        <div class="player-info">Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Anrich Nortje </div>
        <div class="player-info"> Bowler</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Aiden Markram </div>
        <div class="player-info"> Bowler</div>
    
    </div>
    <div class="player">
        <div class="player-info"> Temba Bavuma </div>
        <div class="player-info">Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Henrich Klaasen  </div>
        <div class="player-info">Wicket Keeper</div>
    </div>
    <div class="player">
        <div class="player-info"> David Miller </div>
        <div class="player-info"> Batsman</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Maharaja  </div>
        <div class="player-info">Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Lungi Nigdi  </div>
        <div class="player-info">Bowler</div>
    </div><br><br>
    <h2 class="h2">
    Pakistan Cricket Players
     </h2>
     <div class="player">
        <div class="player-info"> Babar Azam  </div>
        <div class="player-info">Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Shaheen Afridi </div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Mohammad Amir </div>
        <div class="player-info"> Bowler</div>
    </div><br><br>
    <div class="player">
        <div class="player-info"> Shadab Khan</div>
        <div class="player-info"> Bowler</div>
    </div>
    <div class="player">
        <div class="player-info"> Fakhar Zaman</div>
        <div class="player-info"> Batsman</div>
    </div>
    <div class="player">
        <div class="player-info"> Imad Wasim</div>
        <div class="player-info"> 'All-rounder',</div>
    </div><br><br>
    
    <div class="player">
        <div class="player-info"> Mohammad Hafeez</div>
        <div class="player-info"> 'All-rounder',</div>
    </div>
    
    
    <div class="player">
        <div class="player-info"> Haider Ali</div>
        <div class="player-info"> 'Batsman</div>
    </div>

    <div class="player">
        <div class="player-info">  Sarfaraz Ahmed</div>
        <div class="player-info"> Wicketkeeper</div>
    </div><br><br>
    <h2 class="h2">
       West Indies Cricket Players
         </h2>
    
         <div class="player">
            <div class="player-info"> Kieron Pollard</div>
            <div class="player-info"> Wicket Keeper</div>
        </div>
        <div class="player">
            <div class="player-info"> Chris Gayle</div>
            <div class="player-info"> Batsman</div>
        </div>
        
        <div class="player">
            <div class="player-info"> Shai Hope</div>
            <div class="player-info"> Batsman</div>
        </div><br><br>

        
        <div class="player">
            <div class="player-info"> Jason Holder</div>
            <div class="player-info">'All-rounder',</div>
        </div>
        
            
        <div class="player">
            <div class="player-info"> Andre Russell</div>
            <div class="player-info">'All-rounder',</div>
        </div>
        
    
        <div class="player">
            <div class="player-info">Evin Lewis</div>
            <div class="player-info">Batsman,</div>
        </div><br><br>

        <div class="player">
            <div class="player-info">Darren Bravo</div>
            <div class="player-info">Batsman,</div>
        </div>
        <div class="player">
            <div class="player-info">Fabian Allen</div>
            <div class="player-info">All-Rounder</div>
        </div><br><br>
        <h2 class="h2">
            Sri Lanka  Cricket Players
              </h2>
              <div class="player">
                <div class="player-info">Lasith Malinga</div>
                <div class="player-info">'Bowler',</div>
            </div>
            <div class="player">
                <div class="player-info">Angelo Mathews</div>
                <div class="player-info">'All-rounder',</div>
            </div>
            
            <div class="player">
                <div class="player-info">Angelo Mathews</div>
                <div class="player-info">'All-rounder',</div>
            </div> <br><br>

            
            <div class="player">
                <div class="player-info">Dinesh Chandimal</div>
                <div class="player-info">Batsman</div>
            </div>

            
            <div class="player">
                <div class="player-info">Kusal Perera</div>
                <div class="player-info">Batsman</div>
            </div>

            
            <div class="player">
                <div class="player-info">Nuwan Praddep</div>
                <div class="player-info">Bowler</div>
            </div> <br><br>

            
            <div class="player">
                <div class="player-info">Dushmantha Chameera</div>
                <div class="player-info">'Bowler',,</div>
            </div>

            
            <div class="player">
                <div class="player-info">Wanindu Hasaranga</div>
                <div class="player-info">All-Rounder</div>
            </div>

            
            <div class="player">
                <div class="player-info">Avishka Fernando</div>
                <div class="player-info">Batsman</div>
            </div> <br><br>
        
            
            <div class="player">
                <div class="player-info">Suranga Lakmal</div>
                <div class="player-info">Bowler</div>
            </div>
            <h2 class="h2">
                Afganistan Cricket Players
                  </h2>
                  <div class="player">
                    <div class="player-info">Mashrafe Mortaza</div>
                    <div class="player-info">''All-rounder,</div>
                </div>
                <div class="player">
                    <div class="player-info">Shakib Al Hasan</div>
                    <div class="player-info">'Batsman',</div>
                </div>
                
                <div class="player">
                    <div class="player-info">Tamim Iqbal</div>
                    <div class="player-info">'Bowler',</div>
                </div> <br><br>
    
                
                <div class="player">
                    <div class="player-info">Mahmudullah</div>
                    <div class="player-info">'Bowler',</div>
                </div>
    
                
                <div class="player">
                    <div class="player-info">Kusal Perera</div>
                    <div class="player-info">Batsman</div>
                </div>
    
                
                <div class="player">
                    <div class="player-info">Mustafizur Rahman</div>
                    <div class="player-info">'Batsman</div>
                </div> <br><br>
    
                
                <div class="player">
                    <div class="player-info">Dushmantha Chameera</div>
                    <div class="player-info">'Bowler',,</div>
                </div>
    
                
                <div class="player">
                    <div class="player-info">Liton Das</div>
                    <div class="player-info">Wicket kepper</div>
                </div>
    
                
                <div class="player">
                    <div class="player-info">Mohammad Mithun</div>
                    <div class="player-info">Batsman</div>
                </div> <br><br>
            
                
                <div class="player">
                    <div class="player-info">Soumya Sarkar</div>
                    <div class="player-info">All-rounder</div>
                </div>
                <h2 class="h2">
                    Bangaladesh Cricket Players
                      </h2>
                      <div class="player">
                        <div class="player-info">Asghar Afghan</div>
                        <div class="player-info">''All-rounder,</div>
                    </div>
                    <div class="player">
                        <div class="player-info">Rashid Khan</div>
                        <div class="player-info">'Batsman',</div>
                    </div>
                    
                    <div class="player">
                        <div class="player-info">Mohammad Nabi</div>
                        <div class="player-info">'Bowler',</div>
                    </div><br><br>
        
                    
                    <div class="player">
                        <div class="player-info">Mohammad Shahzad</div>
                        <div class="player-info">'Bowler',</div>
                    </div>
        
                    
                    <div class="player">
                        <div class="player-info">KHazratullah Zazai</div>
                        <div class="player-info">Batsman</div>
                    </div>
        
                    
                    <div class="player">
                        <div class="player-info">Najibullah Zadran</div>
                        <div class="player-info">'Batsman</div>
                    </div><br><br>
        
                    
                    <div class="player">
                        <div class="player-info">Dushmantha Chameera</div>
                        <div class="player-info">'Bowler',,</div>
                    </div>
        
                    
                    <div class="player">
                        <div class="player-info">Gulbadin Naib</div>
                        <div class="player-info">Wicket kepper</div>
                    </div><br><br>
        
                    
                    <div class="player">
                        <div class="player-info">Rahmat Shah</div>
                        <div class="player-info">Batsman</div>
                    </div>
                
                    
                    <div class="player">
                        <div class="player-info">Ibrahim Zadran</div>
                        <div class="player-info">All-rounder</div>
                    </div> <br><br>        
</body>
</html>