<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/images/style.css">


    <title>Ranking</title>
    <script>
        function FilterRanking (Format){
            window.location.href = '/Ranking?format='+ Format;
        }
    </script>
</head>
 
<body class="Rbody">
    <header class="stats1">Ranking</header>
    <p class="p">Click on a format to view the top 15 players for that format. Alternatively, scroll down to see the top players across all formats.</p>

    <div class="Rank-h1">
    <button onclick="FilterRanking('Test')"> Test</button>
    <button onclick="FilterRanking('ODI')"> ODI</button>
    <button onclick="FilterRanking('T20')"> T20</button>
    </div>
    <table>
        <tbody>
            <div class="Ranking-grid">    
                {% for Cricket in Crickets %}
                <div class="Brid">
                    <div class="item">{{ Cricket[0] }}</div>
                    <div class="item">{{ Cricket[1] }}</div>
                    <div class="item">{{ Cricket[2] }}</div>
                    <div class="item">{{ Cricket[3] }}</div>
                    <div class="item">{{ Cricket[4] }}</div>
                            </div>
                            {% endfor %}
    
        </div>
            
        </tbody>
    </table>
        <footer>
            <p>&copy; Cricket Portal Vishnu 2024. ALL Rights Reserved</p>
        </footer>
</body>
</html>