<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="nun">
    <h1 class="body">Ranking</h1>
    <div class="box">
        <div class="box">
            <button onclick="showTable('test')">Test</button>
            <button onclick="showTable('odi')">ODI</button>
            <button onclick="showTable('t20')">T20</button>
        </div>
    
    <table id="table 3" >
        <tr>
        <th>Ranking</th>
        <th >Players</th>
         <th>Country</th>
        <th>Points</th>
        </tr>
    <tr>
        <td >1</td>
      <td >Kane Williamson</td>
      <td>NZ</td>
      <td>901</td>

    </tr>
    <tr>
    <td >2</td>
    <td >Steve Smith</td>
    <td>Aus</td>
    <td >891</td>
    </tr>
    <tr>
        <td >3</td>
        <td >Marnus Labuschagne</td>
        <td >Aus</td>
        <td >878</td>
    </tr>
  <tr>
         <td>4</td>
        <td>Joe Root</td>
        <td>Eng</td>
        <td>831</td>
    </tr>
  <tr>
    <td>5</td>
    <td>Virat Kohli</td>
    <td>Ind</td>
    <td>814</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Rohit Sharma</td>
    <td>Ind</td>
    <td>773</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Ben Stokes</td>
    <td>Eng</td>
    <td>756</td>
  </tr>
  <tr>
    <td>8</td>
    <td>David Warner</td>
    <td>Aus</td>
    <td>724</td>
  </tr>
  <tr>
      <td>9</td>
        <td>Babar Azam</td>
        <td>Pak</td>
        <td>711</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Ajinkya Rahane</td>
    <td>Ind</td>
    <td>709</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Henry Nicholls</td>
    <td>NZ</td>
    <td>708</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Dean Elgar</td>
    <td>SA</td>
    <td>693</td>
  </tr>
  <tr>
    <td>13</td>
    <td>Quinton de Kock</td>
    <td>SA</td>
    <td>683</td>
  </tr>
  <tr>
    <td>14</td>
    <td>Dimuth Karunaratne</td>
    <td>SL</td>
    <td>678</td>
  </tr>
  <tr>
    <td>15</td>
    <td>Ross Taylor</td>
    <td>NZ</td>
    <td>654</td>
  </tr>
       
</table>
<table id="table2" >
    <tr>
    <th>Ranking</th>
    <th >Players</th>
     <th>Country</th>
    <th>Points</th>
    </tr>
 
    <tr>
        <td>1</td>
        <td>Dawid Malan</td>
        <td>Eng</td>
        <td>892</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Babar Azam</td>
        <td>Pak</td>
        <td>871</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Devon Conway</td>
        <td>NZ</td>
        <td>840</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Aaron Finch</td>
        <td>AUS</td>
        <td>830</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Virat Kohli</td>
        <td>IND</td>
        <td>828</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Glenn Maxwell</td>
        <td>AUS</td>
        <td>826</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Mohammad Rizwan</td>
        <td>Pak</td>
        <td>796</td>
    </tr>
    <tr>
        <td>8</td>
        <td>KL Rahul</td>
        <td>IND</td>
        <td>785</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Dawlat Zadran</td>
        <td>afg</td>
        <td>733</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Hazratullah Zazai</td>
        <td>afg</td>
        <td>727</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Martin Guptill</td>
        <td>NZ</td>
        <td>715</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Mujeeb Ur Rahman</td>
        <td>Afg</td>
        <td>711</td>
    </tr>
    <tr>]
        
            <td>13</td>
            <td>Sakin Al Hasan </td>
            <td>Ban</td>
            <td>711</td>
        
    </tr>
    <tr>
        <td>14</td>
        <td>Kane Williamson</td>
        <td>NZ</td>
        <td>700</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Kusal Perera</td>
        <td>SRI</td>
        <td>691</td>
    </tr>
</table>
<table id="table 3">
    <tr>
    <th>Ranking</th>
    <th >Players</th>
     <th>Country</th>
    <th>Points</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Virat Kohli</td>
        <td>1</td>
        <td>870</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Rohit Sharma</td>
        <td>2</td>
        <td>842</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Babar Azam</td>
        <td>3</td>
        <td>837</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Ross Taylor</td>
        <td>4</td>
        <td>818</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Aaron Finch</td>
        <td>5</td>
        <td>791</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Jonny Bairstow</td>
        <td>6</td>
        <td>785</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Fakhar Zaman</td>
        <td>7</td>
        <td>778</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Quinton de Kock</td>
        <td>8</td>
        <td>773</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Kane Williamson</td>
        <td>9</td>
        <td>756</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Shai Hope</td>
        <td>10</td>
        <td>758</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Mujeeb Ur Rahman</td>
        <td>11</td>
        <td>724</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Mehidy Hasan Miraz</td>
        <td>12</td>
        <td>713</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Jasprit Bumrah</td>
        <td>13</td>
        <td>707</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Kuldeep Yadav</td>
        <td>14</td>
        <td>700</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Mohammad Nabi</td>
        <td>15</td>
        <td>697</td>
    </tr>
    
</table>
</body>
</html>