<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static\images/style.css">
   <title>Document</title>
</head>
<body>
   <h1 class="stats1">International Cricket Teams Records</h1>
   <h2>
      India cricket Team
   </h2>
   <p>
      Test Cricket:<br>
         Highest Team Score: 759/7d against England in 2016 at Chennai.<br>
         Lowest Team Score: 36 against Australia in 2020 at Adelaide.<br>
         Most Runs in a Calendar Year by a Player: Sachin Tendulkar scored 1,894 runs in 2010.<br>
         Most Test Centuries: Sachin Tendulkar with 51 centuries.<br>
      One Day Internationals (ODIs):<br>
         Highest Team Score: 418/5 against West Indies in 2011 at Indore.<br>
Lowest Team Score: 54 against Australia in 1981 at Chennai.<br>
         Most Runs in a Calendar Year by a Player: Virat Kohli scored 2,044 runs in 2018.<br>
         Most ODI Centuries: Sachin Tendulkar with 49 centuries.<br>
      Twenty20 Internationals (T20Is):<br>
      Highest Team Score: 260/5 against Sri Lanka in 2023 at Mumbai.<br>
      Lowest Team Score: 74 against Australia in 2021 at Dubai.<br>
      Most Runs in a Calendar Year by a Player: Suryakumar Yadav with 1,164 runs in 2022.<br>
      Most T20I Centuries: Suryakumar Yadav and Virat Kohli, both with 4 centuries each.<br>
   </p>
</body>
</html>