<h2 class="h2"> Gernal Infromation about cricket </h2>
<p>Cricket, a beloved sport with roots in England, captivates audiences worldwide with its blend of strategy, skill, and suspense.<br> 
   Played between two teams of eleven players each on a circular or oval field, cricket offers a variety of formats, including Test matches, One Day Internationals (ODIs), and Twenty20 (T20) games. <br>
   The game revolves around the timeless pursuit of scoring more runs than the opposing team. Essential equipment includes a bat made of willow, a cork-and-leather ball, and a set of three stumps topped by two bails known as wickets.<br>
Players assume distinct roles as batsmen and bowlers, with fielders complementing the latter's efforts.<br>
 Runs are scored by the batsmen through skillful strokeplay and astute running between the wickets, with additional points awarded for hitting boundaries.<br>
  Bowlers, meanwhile, endeavor to dismiss batsmen through various means, such as clean bowling, catching them out, or securing an lbw (leg before wicket) decision.<br>
   Umpires preside over the proceedings, ensuring adherence to the rules and fair play, thus adding another layer of intrigue to the game.<br>