{% extends "layout.html" %}

{% block title %}Register Page{% endblock %}

{% block navbar %}
<!-- Navbar content can go here if needed -->
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">

<div class="background"></div>
<div class="login">  <!-- Container for registration form -->
    <div class="login-box">  <!-- Box for the registration content -->
        <p class="login-p">To access this cricket portal, please register an account.</p>
        <h1 class="login-h1">Register</h1>

        <form method="POST" action="{{ url_for('register') }}">
            <label class="form-label" for="username">Username:</label>
            <input class="login-input" type="text" id="username" name="username" required placeholder="Enter your username">
            <br>
            <label class="form-label" for="password">Password:</label>
            <input class="login-input" type="password" id="password" name="password" required placeholder="Enter your password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text">Must be at least 8 characters long.</small>
            <br>
            <label class="form-label" for="confirm-password">Confirm Password:</label>
            <input class="login-input" type="password" id="confirm-password" name="confirm_password" required placeholder="Confirm your password">
            <br>
            <button class="login-button" type="submit">Register</button>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">  <!-- Container for flash messages -->
                <ul>
                    {% for message in messages %}
                        <li class="Flash">{{ message }}</li>  <!-- Individual flash message -->
                    {% endfor %}
                </ul>
            </div>  <!-- End of flash messages container -->
        {% endif %}
        {% endwith %}

        <p class="login-p">Already have an account? <a href="/login" class="login-link">Login here</a></p>
    </div>  <!-- End of login box -->
</div>  <!-- End of login container -->


{% endblock %}
