<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Please express your opnions</H1>
    <form action="/submit" method="post">
        <label for="Review">Review</label>
         <textarea id="Review" name="Review" rows="5" cols="60"></textarea><br>

         <label for="rating"> rating</label>
         <select id="rating" name="rating">
            <option value="5">5</option>
            <option value="5">4</option>
            <option value="5">3</option>
            <option value="5">2</option>
            <option value="5">1</option>
            <option value="5">0</option>

         </select> <br> <br>
        <input type="submit" value="submit">

    </form>

</body>
</html>