<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static\images/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="h2"> Gernal Infromation about cricket </h2>
<p class="cric">Cricket, a beloved sport with roots in England, captivates audiences worldwide with its blend of strategy, skill, and suspense.<br> 
   Played between two teams of eleven players each on a circular or oval field, cricket offers a variety of formats, including Test matches, One Day Internationals (ODIs), and Twenty20 (T20) games. <br>
   The game revolves around the timeless pursuit of scoring more runs than the opposing team. Essential equipment includes a bat made of willow, a cork-and-leather ball, and a set of three stumps topped by two bails known as wickets.<br>
Players assume distinct roles as batsmen and bowlers, with fielders complementing the latter's efforts.<br>
 Runs are scored by the batsmen through skillful strokeplay and astute running between the wickets, with additional points awarded for hitting boundaries.<br>
  Bowlers, meanwhile, endeavor to dismiss batsmen through various means, such as clean bowling, catching them out, or securing an lbw (leg before wicket) decision.<br>
   Umpires preside over the proceedings, ensuring adherence to the rules and fair play, thus adding another layer of intrigue to the game.<br>
  <div class="out">
   <div class="vande">
   <h3>
    India Cricket Stats
</h3>
<img src="static\images\Ind.jpg">
<Ul>
 <h4>Test Cricket</h4>
    <li>Most Runs: Sachin Tendulkar (15,921 runs)</li>
<li>    Most Wickets: Anil Kumble (619 wickets)</li>
    <li>Highest Individual Score: Karun Nair (303* vs. England, 2016)</li>
    <li>Best Bowling Figures in an Innings: Narendra Hirwani (8/61 vs. West Indies, 1988)</li>
    <li>Most Catches: Rahul Dravid (210 catches as a fielder)</li>
    </Ul>
<ul>
    <H5>ODIs CRICKET</H5>
    <LI>Most Runs: Sachin Tendulkar (18,426 runs)<BR>
        Most Wickets: Anil Kumble (337 wickets)<BR>
        Highest Individual Score: Rohit Sharma (264 vs. Sri Lanka, 2014)<BR>
        Best Bowling Figures in an Innings: Stuart Binny (6/4 vs. Bangladesh, 2014)<BR>
        Most Catches: Mohammad Azharuddin (156 catches as a fielder)<BR></LI>
</ul>
<uL>
    <h6>T20 Cricket</h6>
   <li>Twenty20 Internationals (T20Is)<BR>
    Most Runs: Virat Kohli (4,008 runs)<BR>
    Most Wickets: Yuzvendra Chahal (96 wickets)<BR>
    Highest Individual Score: Rohit Sharma (118 vs. Sri Lanka, 2017)<BR>
    Best Bowling Figures in an Innings: Deepak Chahar (6/7 vs. Bangladesh, 2019)<BR>
    Most Catches: Rohit Sharma (58 catches as a fielder)<BR></li>

</uL>
<ul>
  <h7> Achievements </h7>
    <li>World Cup Wins: 1983, 2011 (ODI)<Br>
    T20 World Cup Wins: 2007,2024</li>

</ul>
</div>
<div class="vande">

<h3>Australia Cricket Stats</h3>
<img src="static\images\aus.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Ricky Ponting (13,378 runs)</li>
    <li>Most Wickets: Shane Warne (708 wickets)</li>
    <li>Highest Individual Score: Matthew Hayden (380 vs. Zimbabwe, 2003)</li>
    <li>Best Bowling Figures in an Innings: Nathan Lyon (8/50 vs. India, 2017)</li>
    <li>Most Catches: Ricky Ponting (196 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Ricky Ponting (13,704 runs)</li>
    <li>Most Wickets: Glenn McGrath (381 wickets)</li>
    <li>Highest Individual Score: Shane Watson (185* vs. Bangladesh, 2011)</li>
    <li>Best Bowling Figures in an Innings: Glenn McGrath (7/15 vs. Namibia, 2003)</li>
    <li>Most Catches: Ricky Ponting (160 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Aaron Finch (2,349 runs)</li>
    <li>Most Wickets: Adam Zampa (82 wickets)</li>
    <li>Highest Individual Score: Aaron Finch (172 vs. Zimbabwe, 2018)</li>
    <li>Best Bowling Figures in an Innings: Ashton Agar (6/30 vs. New Zealand, 2021)</li>
    <li>Most Catches: David Warner (51 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <LI>World Test Championship:2023</LI>
    <li>World Cup Wins: 1987, 1999, 2003, 2007, 2015 (ODI)</li>
    <li>T20 World Cup Wins: 2021</li>
</ul>

</div>
  </div>
  <div class="out">
    <div class="vande">
<h3>New Zealand Cricket Stats</h3>
<img src="static\images\nz.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Kane Williamson (8,123 runs)</li>
    <li>Most Wickets: Richard Hadlee (431 wickets)</li>
    <li>Highest Individual Score: Brendon McCullum (302 vs. India, 2014)</li>
    <li>Best Bowling Figures in an Innings: Richard Hadlee (9/52 vs. Australia, 1985)</li>
    <li>Most Catches: Ross Taylor (164 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Ross Taylor (8,607 runs)</li>
    <li>Most Wickets: Daniel Vettori (297 wickets)</li>
    <li>Highest Individual Score: Martin Guptill (237* vs. West Indies, 2015)</li>
    <li>Best Bowling Figures in an Innings: Tim Southee (7/33 vs. England, 2015)</li>
    <li>Most Catches: Stephen Fleming (133 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Martin Guptill (3,531 runs)</li>
    <li>Most Wickets: Tim Southee (137 wickets)</li>
    <li>Highest Individual Score: Brendon McCullum (123 vs. Bangladesh, 2012)</li>
    <li>Best Bowling Figures in an Innings: Mark Chapman (4/16 vs. Scotland, 2022)</li>
    <li>Most Catches: Martin Guptill (66 catches as a fielder)</li>
</ul>
    
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: 2021 (World Test Championship)</li>
</ul>
</div>
    <div class="vande">
<h3>Sri Lanka Cricket Stats</h3>
<img src="static\images\ri.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Kumar Sangakkara (12,400 runs)</li>
    <li>Most Wickets: Muttiah Muralitharan (800 wickets)</li>
    <li>Highest Individual Score: Mahela Jayawardene (374 vs. South Africa, 2006)</li>
    <li>Best Bowling Figures in an Innings: Muttiah Muralitharan (9/51 vs. Zimbabwe, 2002)</li>
    <li>Most Catches: Mahela Jayawardene (205 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Kumar Sangakkara (14,234 runs)</li>
    <li>Most Wickets: Muttiah Muralitharan (534 wickets)</li>
    <li>Highest Individual Score: Sanath Jayasuriya (189 vs. India, 2000)</li>
    <li>Best Bowling Figures in an Innings: Chaminda Vaas (8/19 vs. Zimbabwe, 2001)</li>
    <li>Most Catches: Mahela Jayawardene (218 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Tillakaratne Dilshan (1,889 runs)</li>
    <li>Most Wickets: Lasith Malinga (107 wickets)</li>
    <li>Highest Individual Score: Mahela Jayawardene (100 vs. Zimbabwe, 2010)</li>
    <li>Best Bowling Figures in an Innings: Ajantha Mendis (6/8 vs. Zimbabwe, 2012)</li>
    <li>Most Catches: Lasith Malinga (31 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: 1996 (ODI)</li>
    <li>T20 World Cup Wins: 2014</li>
</ul>
    </div>
  </div>
  <div class="out">
    <div class="vande">
<h3>Bangladesh Cricket Stats</h3>
<img src="static\images\bangaladesh.jpg" alt="">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Mushfiqur Rahim (5,514 runs)</li>
    <li>Most Wickets: Shakib Al Hasan (237 wickets)</li>
    <li>Highest Individual Score: Tamim Iqbal (206 vs. Pakistan, 2015)</li>
    <li>Best Bowling Figures in an Innings: Mehidy Hasan Miraz (7/58 vs. West Indies, 2018)</li>
    <li>Most Catches: Mushfiqur Rahim (114 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Tamim Iqbal (8,313 runs)</li>
    <li>Most Wickets: Shakib Al Hasan (301 wickets)</li>
    <li>Highest Individual Score: Liton Das (176 vs. Zimbabwe, 2020)</li>
    <li>Best Bowling Figures in an Innings: Shakib Al Hasan (7/36 vs. Kenya, 2006)</li>
    <li>Most Catches: Mushfiqur Rahim (192 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Mahmudullah (2,122 runs)</li>
    <li>Most Wickets: Shakib Al Hasan (140 wickets)</li>
    <li>Highest Individual Score: Mohammad Naim (81 vs. India, 2019)</li>
    <li>Best Bowling Figures in an Innings: Mustafizur Rahman (5/22 vs. New Zealand, 2016)</li>
    <li>Most Catches: Mahmudullah (43 catches as a fielder)</li>
</ul>
    </div>
        <div class="vande">
<h3>England Cricket Stats</h3>
<img src="static\images\eng.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Alastair Cook (12,472 runs)</li>
    <li>Most Wickets: James Anderson (688 wickets)</li>
    <li>Highest Individual Score: Len Hutton (364 vs. Australia, 1938)</li>
    <li>Best Bowling Figures in an Innings: Jim Laker (10/53 vs. Australia, 1956)</li>
    <li>Most Catches: Alastair Cook (175 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Eoin Morgan (6,957 runs)</li>
    <li>Most Wickets: James Anderson (269 wickets)</li>
    <li>Highest Individual Score: Jason Roy (180 vs. Australia, 2018)</li>
    <li>Best Bowling Figures in an Innings: Paul Collingwood (6/31 vs. Bangladesh, 2005)</li>
    <li>Most Catches: Paul Collingwood (108 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Jos Buttler (2,831 runs)</li>
    <li>Most Wickets: Chris Jordan (95 wickets)</li>
    <li>Highest Individual Score: Alex Hales (116* vs. Sri Lanka, 2014)</li>
    <li>Best Bowling Figures in an Innings: Adil Rashid (5/18 vs. West Indies, 2021)</li>
    <li>Most Catches: Eoin Morgan (50 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: 2019 (ODI)</li>
    <li>T20 World Cup Wins: 2010, 2022</li>
</ul>
  </div>
</div>
      <div class="out">
        <div class="vande">
<h3>Afghanistan Cricket Stats</h3>
<img src="static\images\afg.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Rahmat Shah (826 runs)</li>
    <li>Most Wickets: Rashid Khan (36 wickets)</li>
    <li>Highest Individual Score: Hashmatullah Shahidi (200* vs. Zimbabwe, 2021)</li>
    <li>Best Bowling Figures in an Innings: Rashid Khan (6/49 vs. Bangladesh, 2019)</li>
    <li>Most Catches: Asghar Afghan (17 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Mohammad Shahzad (2,727 runs)</li>
    <li>Most Wickets: Rashid Khan (172 wickets)</li>
    <li>Highest Individual Score: Mohammad Shahzad (131* vs. Zimbabwe, 2015)</li>
    <li>Best Bowling Figures in an Innings: Rashid Khan (7/18 vs. West Indies, 2017)</li>
    <li>Most Catches: Mohammad Nabi (57 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Mohammad Nabi (1,692 runs)</li>
    <li>Most Wickets: Rashid Khan (129 wickets)</li>
    <li>Highest Individual Score: Hazratullah Zazai (162* vs. Ireland, 2019)</li>
    <li>Best Bowling Figures in an Innings: Rashid Khan (5/3 vs. Ireland, 2017)</li>
    <li>Most Catches: Mohammad Nabi (42 catches as a fielder)</li>
</ul>
    </div>
        <div class="vande">
<h3>West Indies Cricket Stats</h3>
<img src="static\images\wst.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Brian Lara (11,953 runs)</li>
    <li>Most Wickets: Courtney Walsh (519 wickets)</li>
    <li>Highest Individual Score: Brian Lara (400* vs. England, 2004)</li>
    <li>Best Bowling Figures in an Innings: Jermaine Lawson (8/31 vs. Bangladesh, 2002)</li>
    <li>Most Catches: Brian Lara (164 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Chris Gayle (10,480 runs)</li>
    <li>Most Wickets: Courtney Walsh (227 wickets)</li>
    <li>Highest Individual Score: Chris Gayle (215 vs. Zimbabwe, 2015)</li>
    <li>Best Bowling Figures in an Innings: Winston Davis (7/51 vs. Australia, 1983)</li>
    <li>Most Catches: Brian Lara (120 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Chris Gayle (1,899 runs)</li>
    <li>Most Wickets: Dwayne Bravo (78 wickets)</li>
    <li>Highest Individual Score: Chris Gayle (117 vs. South Africa, 2007)</li>
    <li>Best Bowling Figures in an Innings: Obed McCoy (6/17 vs. India, 2022)</li>
    <li>Most Catches: Dwayne Bravo (50 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: 1975, 1979 (ODI)</li>
    <li>T20 World Cup Wins: 2012, 2016</li>
</ul>
        </div>
    </div>

    <div class="out">
        <div class="vande">

<h3>South Africa Cricket Stats</h3>
<img src="static\images\south.1.jpg">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Jacques Kallis (10,813 runs)</li>
    <li>Most Wickets: Shaun Pollock (421 wickets)</li>
    <li>Highest Individual Score: Hashim Amla (311* vs. England, 2012)</li>
    <li>Best Bowling Figures in an Innings: Hugh Tayfield (9/113 vs. England, 1957)</li>
    <li>Most Catches: Jacques Kallis (200 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Jacques Kallis (11,550 runs)</li>
    <li>Most Wickets: Shaun Pollock (393 wickets)</li>
    <li>Highest Individual Score: Gary Kirsten (188* vs. UAE, 1996)</li>
    <li>Best Bowling Figures in an Innings: Imran Tahir (7/45 vs. West Indies, 2016)</li>
    <li>Most Catches: Jacques Kallis (131 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Quinton de Kock (2,277 runs)</li>
    <li>Most Wickets: Dale Steyn (64 wickets)</li>
    <li>Highest Individual Score: Richard Levi (117* vs. New Zealand, 2012)</li>
    <li>Best Bowling Figures in an Innings: Lungi Ngidi (4/10 vs. New Zealand, 2020)</li>
    <li>Most Catches: AB de Villiers (65 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: None</li>
</ul>
        </div>            <div class="vande">
<h3>Pakistan Cricket Stats</h3>
<img src="static\images\pak.jpg" alt="">
<ul>
    <h4>Test Cricket</h4>
    <li>Most Runs: Younis Khan (10,099 runs)</li>
    <li>Most Wickets: Wasim Akram (414 wickets)</li>
    <li>Highest Individual Score: Hanif Mohammad (337 vs. West Indies, 1958)</li>
    <li>Best Bowling Figures in an Innings: Abdul Qadir (9/56 vs. England, 1987)</li>
    <li>Most Catches: Younis Khan (139 catches as a fielder)</li>
</ul>
<ul>
    <h4>ODI Cricket</h4>
    <li>Most Runs: Inzamam-ul-Haq (11,739 runs)</li>
    <li>Most Wickets: Wasim Akram (502 wickets)</li>
    <li>Highest Individual Score: Fakhar Zaman (210* vs. Zimbabwe, 2018)</li>
    <li>Best Bowling Figures in an Innings: Shahid Afridi (7/12 vs. West Indies, 2013)</li>
    <li>Most Catches: Mohammad Azharuddin (156 catches as a fielder)</li>
</ul>
<ul>
    <h4>T20 Cricket</h4>
    <li>Most Runs: Babar Azam (3,355 runs)</li>
    <li>Most Wickets: Shahid Afridi (98 wickets)</li>
    <li>Highest Individual Score: Ahmed Shehzad (111* vs. Bangladesh, 2014)</li>
    <li>Best Bowling Figures in an Innings: Umar Gul (5/6 vs. New Zealand, 2009)</li>
    <li>Most Catches: Shoaib Malik (45 catches as a fielder)</li>
</ul>
<ul>
    <h4>Achievements</h4>
    <li>World Cup Wins: 1992 (ODI)</li>
    <li>T20 World Cup Wins: 2009</li>
</ul>
</div>
    </div>

</body>
</html>