{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">
<title>Stats</title>
</head>
<body class="recordbody">
   
    <h1 class="stats1">International Cricket Statistics and Achievements</h1>
    <p class="recordp">CLICK ON A TEAM TO VIEW THEIR STATISTICS</p>

    <!-- Display team statistics -->
    <div class="teams-container">
        {% for team in teams_info %}  <!-- Change this line -->
        <details class="recorddetails">  
            <summary class="recordsummary">
                <div class="lines">{{ team[0] }}</div>  <!-- Team name -->
            </summary>
            
            <img class="stats-img" src="{{ team[1] }}" alt="{{ team[0] }} logo" class="team-logo" />  <!-- Team logo -->

            <p class="lines">{{ team[2] }}</p>  <!-- Team statistics -->
        </details>
        {% endfor %}
    </div> <!-- End of teams-container -->

{% endblock %}
