<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/images/style.css"> <!-- Use forward slashes for URLs -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>
<body class="home-style">
    <h1 class="stats1">International Cricket Statistics and Achievements</h1>
    <div class="ce">
        <h2 class="h2">Information about cricket</h2>
        <p class="cric">Cricket, a beloved sport with roots in England, captivates audiences worldwide with its blend of strategy, skill, and suspense.<br>
           Played between two teams of eleven players each on a circular or oval field, cricket offers a variety of formats, including Test matches, One Day Internationals (ODIs), and Twenty20 (T20) games.<br>
           The game revolves around the timeless pursuit of scoring more runs than the opposing team. Essential equipment includes a bat made of willow, a cork-and-leather ball, and a set of three stumps topped by two bails known as wickets.<br>
           Players assume distinct roles as batsmen and bowlers, with fielders complementing the latter's efforts.<br>
           Runs are scored by the batsmen through skillful strokeplay and astute running between the wickets, with additional points awarded for hitting boundaries.<br>
           Bowlers, meanwhile, endeavor to dismiss batsmen through various means, such as clean bowling, catching them out, or securing an lbw (leg before wicket) decision.<br>
           Umpires preside over the proceedings, ensuring adherence to the rules and fair play, thus adding another layer of intrigue to the game.<br></p>
    </div>
    <div class="vande">
        <div class="out"></div>
        <table>
            <tbody>
                {% for team in Crickets %}
                <tr>
                    <td class="team-container">
                        <div class="team-box">
                            {% if loop.index == 1 %}
                            <div class="team-name">
                                <img src="/static/images/india 2.jpg" alt="Team Image">
                                {{ team[0] }}
                            </div>
                            {% else %}
                            <div class="team-name">{{ team[0] }}</div><br>
                            {% endif %}
                         
                            <div class="team-info">{{ team[2] }}</div>
                            <div class="team-info">{{ team[4] }}</div>
                            <div class="team-info">{{ team[5] }}</div>
                            <div class="team-info">{{ team[6] }}</div>
                            <div class="team-info">{{ team[7] }}</div>
                            <div class="team-info">{{ team[8] }}</div>
                            <div class="team-info">{{ team[9] }}</div>
                            <div class="team-info">{{ team[10] }}</div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
<footer>
    <p>&copy; Cricket Portal Vishnu 2024. ALL Rights Reserved</p>
</footer>